h1{
 font-family: Arial , 'Times New Roman';
 font-size:22px;
 font-style: italic;
 font-weight: 100;
 
}
  html{
    background-color: rgb(227, 243, 243);
    font-size: 30px;
    text-align: center;
    font-

  }

  h1{
    background-color: rgb(155, 155, 21);
    color:bisque;
    font-size: 20;
    text-align: center;

  }
  <p>{
    color: white;
    font-size: 20;
    text-align: center;
  }
